@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  box-sizing: content-box;
}

body {
  margin: 0;
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 300px;
  background-color: hsl(0, 0%, 100%);
  width: 80%;
  border-radius: 15px;
}

.text-container {
  width: 90%;
  margin: 20px auto;
}

img {
  width: 100%;
}

h1 {
  font-size: 20px;
  color: hsl(218, 44%, 22%);
  margin-block: 10px 0;
}

p {
  font-size: 15px;
  color: hsl(220, 15%, 55%);
  margin-block: 10px 0;
}
